
h1 {
  background-color: orchid;
  text-align: center;
  color: #0026ff;
 
}


#logo {
  width: 100px;
 
}

#left {
  float: left;
  width: 180px;
  padding: 50px;
  border-radius: 30%;
}

#middle {
  float: left;
  width: 180px;
  padding: 50px;
  border-radius: 30%;
}


#right {
  float: left;
  width: 180px;
  padding: 50px;
  border-radius: 30%;
}

#image-holder {
  content: "";
  clear: both;
  display: table;
}

#result{
  max-width: 500px;
  color: #0026ff
}

footer{
  width: 500px;
}

 

body {
  background-color: peachpuff;
}