
h1 {
  background-color: orchid;
  text-align: center;
  color: #0026ff;
 
}


#logo {
  width: 100px;
 
}

#left {
  float: left;
  width: 80px;
  padding: 50px;
}

#middle {
  float: left;
  width: 80px;
  padding: 50px;
}


#right {
  float: left;
  width: 80px;
  padding: 50px;
}

#image-holder {
  content: "";
  clear: both;
  display: table;
}

#result{
  max-width: 500px;
}

footer{
  width: 500px;
}